#what-we-do {
  text-align: center!important;
  height: 50vh;
  background-size: cover;
}

#wwdhead {
  margin-top: 170px;
  margin-left: 30px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 45px;
}

.navbar.navbar-light.navbar-expand-md.text-center {
  background-color: #6dc6f8;
}

@media only screen and (max-width: 768px) {
  #carousel-1 {
    width: 100%;
    height: 450px;
    margin-top: 0px;
    min-width: auto;
    min-height: auto;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 0px;
  }
}

#carousel-1 {
  width: 100%;
  height: 450px;
  margin-top: 0px;
  min-width: auto;
  min-height: auto;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  #manthancont {
    flex-direction: column;
    justify-content: center;
  }
}

#manthancont {
}

#mntnpara {
  width: 50%;
  height: 450px;
}

@media only screen and (max-width: 768px) {
  #mntnpara {
    width: 100%;
    height: 225px;
  }
}

