#hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
  height: 60%;
  width: 100%;
}

.navbar-light .navbar-brand {
  height: 20%;
  background-image: url("../../manthan/img/logo.svg");
  width: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

#navcol-1 {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}

.navbar-light .navbar-nav .nav-link {
  color: #222;
}

.navbar-light .navbar-nav .nav-link {
  color: #f8e53a;
  font-weight: normal;
}

