{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contact US</title>
    <link rel="stylesheet" href="{% static 'contact/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600">
    <link rel="stylesheet" href="{% static 'contact/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'contact/css/Contact-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'contact/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="{% static 'contact/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'contact/css/Team-Boxed.css' %}">
</head>

<body class="text-center">
    <section id="section_top" style="height: 296px;background-image: url(&quot;{% static 'contact/img/37028711_1683936694988483_5367307010746351616_o.jpg' %}&quot;);width: 100%;">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><a class="navbar-brand" data-bs-hover-animate="pulse" href="#"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'home:index' %}">Home</a></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">The Clubs</a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">LitSoc | Literary Club</a><a class="dropdown-item" role="presentation" href="#">Octaves | Music Club</a><a class="dropdown-item" role="presentation" href="#">Xpression | Drama Club</a>
                                <a
                                    class="dropdown-item" role="presentation" href="#">DebSoc | Debate Club</a><a class="dropdown-item" role="presentation" href="#">Anchorenza | Anchoring Club</a><a class="dropdown-item" role="presentation" href="#">Cadence | Dance Club</a><a class="dropdown-item" role="presentation"
                                        href="#">DebSoc| Debating Club</a><a class="dropdown-item" role="presentation" href="#">Montage| Photography Club</a><a class="dropdown-item" role="presentation" href="#">Lumiere | Movie Club</a></div>
                        </li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Events</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Blog</a></li>
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Contact Us</a></li>
                    </ul>
            </div>
            </div>
        </nav>
        <h1 class="text-left" data-aos="fade-left" data-aos-duration="600" data-aos-once="true" id="title" style="color: #000000;opacity: 1;font-family: Adamina, serif;font-weight: bold;font-style: normal;font-size: 38px;letter-spacing: 3px;padding: 0px;margin: 20px;"><strong>Contact Us</strong></h1>
        <h3 class="text-left" data-aos="fade-left" data-aos-duration="600" data-aos-once="true" id="sub_title" style="color: rgb(255,255,255);opacity: 1;margin: 0px;">&nbsp; Give us your valuable suggestions.</h3>
    </section>
    <div class="contact-clean">
        <form method="post">
            {% csrf_token %}
            <h2 class="text-center">Contact us</h2>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control " type="email" name="email" placeholder="Email"></div>
            <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" rows="14"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">send</button></div>
        </form>
    </div>
    <div class="team-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team </h2>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div data-aos="flip-left" class="box"><img class="rounded-circle" src="{{ team1.image.url }}">
                        <h3 class="name">{{ team1.name }}</h3>
                        <p class="title">{{ team1.position }}</p>
                        <p class="description">{{ team1.description }}</p>
                        <p class="description">{{ team1.email }}</p>
                        <p class="description">{{ team1.contact }}</p>
                        <div class="social"><a href="{{ team1.fb }}"><i class="fa fa-facebook-official"></i></a><a href="{{ team1.instagram }}"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div data-aos="flip-left" data-aos-delay="100" class="box"><img class="rounded-circle" src="{{ team2.image.url }}">
                        <h3 class="name">{{ team2.name }}</h3>
                        <p class="title">{{ team3.position }}</p>
                        <p class="description">{{ team2.description }}</p>
                        <p class="description">{{ team2.email }}</p>
                        <p class="description">{{ team2.contact }}</p>
                         <div class="social"><a href="{{ team2.fb }}"><i class="fa fa-facebook-official"></i></a><a href="{{ team2.instagram }}"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div data-aos="flip-left" data-aos-delay="200" class="box"><img class="rounded-circle" src="{{ team3.image.url }}">
                        <h3 class="name">{{ team3.name }}</h3>
                        <p class="title">{{ team3.position }}</p>
                        <p class="description">{{ team3.description }}</p>
                        <p class="description">{{ team3.email }}</p>
                        <p class="description">{{ team3.contact }}</p>
                        <div class="social"> <div class="social"><a href="{{ team3.fb }}"><i class="fa fa-facebook-official"></i></a><a href="{{ team3.instagram }}"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-android-mail"></i></a><a href="#"><i class="icon ion-social-youtube"></i></a></div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3></h3>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                </div>
                <p class="copyright">Cultural Board, IIT Guwahati © 2019</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'contact/js/jquery.min.js' %}"></script>
    <script src="{% static 'contact/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'contact/js/bs-animation.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
</body>

</html>